@model CarListViewModel;

@{
    ViewData["Title"] = "Brands";
}
<h2 style="margin-top: 30px;">All @ViewData["Title"]</h2>
<h3 style="margin-top: 10px; font-size: 1em;"> - A list of brands and their cars</h3>
<a asp-controller="Home" asp-action="New" class="btn btn-primary" style="margin-top:50px; width: 20%;background-color: #b71c1c; color: white; border-color:transparent; margin-left:80%;">Add a new car</a>
<div style="margin-top: 50px;" class="row">
    <div class="col-md-12">
        <table class="table">

            <h1 style=" background-color: #b71c1c; color: white; font-size: 1.2em; width:100%; padding: 10px 0px; text-align: center;">Delorean</h1>
            @foreach (var Car in Model.Cars)
            {
                if (@Car.Brand == "Delorean")
                {

                    <div style="margin-top:20px; display:flex; flex-direction: row; justify-content: space-between;">
                        <h5>@Car.Owner</h5>
                        <p>@Car.Plate</p>
                        <a asp-controller="Home" asp-action="Detail" asp-route-id="@Car.Id" style="text-decoration: none; color: darkblue;">
                            Edit info
                        </a>
                        <a asp-controller="Home" asp-action="Delete" asp-route-id="@Car.Id"
                           onclick="$.post(this.href).success(window.location.href = '/');return false; " style="text-decoration: none; color: red;">
                            Delete
                        </a>
                    </div>}
            }

            <h1 style="background-color: #b71c1c; color: white; font-size: 1.2em; width:100%; padding: 10px 0px; text-align: center;">Batmobile</h1>
            @foreach (var Car in Model.Cars)
            {
                if (@Car.Brand == "Batmobile")
                {

                    <div style="margin-top:20px; display:flex; flex-direction: row; justify-content: space-between;">
                        <h5>@Car.Owner</h5>
                        <p>@Car.Plate</p>
                        <a asp-controller="Home" asp-action="Detail" asp-route-id="@Car.Id" style="text-decoration: none; color: darkblue;">
                            Edit info
                        </a>
                        <a asp-controller="Home" asp-action="Delete" asp-route-id="@Car.Id"
                           onclick="$.post(this.href).success(window.location.href = '/');return false; " style="text-decoration: none; color: red;">
                            Delete
                        </a>
                    </div>
                }
            }

            <h1 style="background-color: #b71c1c; color: white; font-size: 1.2em; width:100%; padding: 10px 0px; text-align: center;">Ecto-1</h1>
            @foreach (var Car in Model.Cars)
            {
                if (@Car.Brand == "Ecto-1")
                {
                    <div style="margin-top:20px; display:flex; flex-direction: row; justify-content: space-between;">
                        <h5>@Car.Owner</h5>
                        <p>@Car.Plate</p>
                        <a asp-controller="Home" asp-action="Detail" asp-route-id="@Car.Id" style="text-decoration: none; color: darkblue;">
                            Edit info
                        </a>
                        <a asp-controller="Home" asp-action="Delete" asp-route-id="@Car.Id"
                           onclick="$.post(this.href).success(window.location.href = '/');return false; " style="text-decoration: none; color: red;">
                            Delete
                        </a>
                    </div>
                }
            }

            <h1 style="background-color: #b71c1c; color: white; font-size: 1.2em; width:100%; padding: 10px 0px; text-align: center;">Millenium Falcon</h1>
            @foreach (var Car in Model.Cars)
            {
                if (@Car.Brand == "Millenium Falcon")
                {

                    <div style="margin-top:20px; display:flex; flex-direction: row; justify-content: space-between;">
                        <h5>@Car.Owner</h5>
                        <p>@Car.Plate</p>
                        <a asp-controller="Home" asp-action="Detail" asp-route-id="@Car.Id" style="text-decoration: none; color: darkblue;">
                            Edit info
                        </a>
                        <a asp-controller="Home" asp-action="Delete" asp-route-id="@Car.Id"
                           onclick="$.post(this.href).success(window.location.href = '/');return false; " style="text-decoration: none; color: red;">
                            Delete
                        </a>
                    </div>
                }
            }


        </table>

    </div>

</div>