@model CarListViewModel;
@{
    ViewData["Title"] = "Cars";
}

<h2 style="margin-top: 30px;">@ViewData["Title"]</h2>
<h3 style="margin-top: 10px; font-size: 1em;"> - A list of cars and their most important information</h3>
<a asp-controller="Home" asp-action="New" class="btn btn-primary" style="margin-top:50px; width: 20%;background-color: pink; color: white; border-color:transparent; margin-left:80%;">Add a new car</a>
<div style="margin-top: 20px;" class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr style="background-color: lightblue;">
                    <td style="color:white;">Color</td>
                    <td style="color:white;">Plate</td>
                    <td style="color:white;">Owner</td>
                    <td style="color:white;">Brand</td>
                    <td style="color:white;">Date</td>
                    <td style="color:white;"></td>
                    <td style="color:white;"></td>
                </tr>
            </thead>
            @foreach (var Car in Model.Cars)
            {

                <tr>
                    <td>@Car.Color</td>
                    <td><a asp-controller="Home" asp-action="Detail" asp-route-id="@Car.Id">@Car.Plate</a></td>
                    <td>@Car.Owner</td>
                    <td>@Car.Brand</td>
                    <td>@Car.Date.ToLongDateString()</td>
                    <td>
                        <a asp-controller="Home" asp-action="Detail" asp-route-id="@Car.Id" style="text-decoration: none; color: lightgreen;">
                            Edit info
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Home" asp-action="Delete" asp-route-id="@Car.Id"
                           onclick="$.post(this.href).success(window.location.href = '/');return false; " style="text-decoration: none; color: red;">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div> 